.menu-container {
  -webkit-font-smoothing: antialiased;
  background: #000;
}

.menu-overlay-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 96px;
  z-index: 1;
  font-size: larger;
  font-weight: 500;
}


.menu-bar a,
.menu-open p {
  color: #212121;
  cursor: pointer;
}

.menu-close {
  color: #212121;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding:28px 96px;
  background: #FFE569;
  z-index: 2;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}


.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5em;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-preview video {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 50px;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 5px #FFE569;
  line-height: 70%;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Francois One", sans-serif;
  font-weight: 200;
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
  /* margin-left: -200px; */
  font-size: 16px;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width:900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }
}